<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKType</key>
	<string>BKChapter</string>
	<key>BKChapterName</key>
	<string>目录＋序言</string>
	<key>BKChapterPages</key>
	<array>
		<string>title.html</string>
		<string>toc4.html</string>
	</array>
</dict>
</plist>
